/* unviersal css property applied to the entire page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* gives a background color to the body section of the page */
body {
  background-color: #d9dcd6;
}

/* gives the attributes to the header, such as the font, background color and text color */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* displays where the main title (Horiseon) is within the header element, also gives it a particular font size */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* changes the colors of the "seo" in Horiseon in the header element */
header h1 span {
  color: #d9dcd6;
}

/* sets the style for the header navigation links */
header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* removes bullet points from the navigation links */
header div ul {
  list-style-type: none;
}

/* displays the nav links horizontally */
header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* gives the nev links a text color */
a {
  color: #ffffff;
  text-decoration: none;
}

/* sets the text size for all the paragraph elements */
p {
  font-size: 16px;
}

/* gives the attributes for the main image on the website */
#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* classes for image placement */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* sets the attributes for the aside element */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

aside div {
  margin-bottom: 32px;
  color: #ffffff;
}

aside div h3 {
  margin-bottom: 10px;
  text-align: center;
}

aside div img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* sets the attributes for the main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }

main section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

main section img {
  max-height: 200px;
}

main section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* sets the attributes for the footer element */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
